body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}
#page-1{
    background-image: url(/imgs/water.jpg) ;
    background-size: cover;
}

nav {
    color: #222;
    padding: 20px 0;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
}

header {
    background-image: url('background.jpg');
    background-size: cover;
    color: #222;
    text-align: center;
    font-weight: 700;
    padding: 100px 0;
}

section {
    padding: 60px 0;
}

.service {
    margin-bottom: 40px;
}

/* feature services */

#feature .fe-box{
    width: 30%;
    height: 30%;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, .05);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
    
}
#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, .2);

}
#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color:#fddde4 ;
}
#feature .fe-box img{
    width: 100px;
    margin-bottom: 10px;
}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .fe-box:nth-child(2) h6 {
background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6 {
    background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6 {
background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6 {
    background-color: #f6dbf6;
 }

#feature .fe-box:nth-child(6) h6 {
     background-color: #fff2e5;
}


#contact input,
#contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

#contact button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#contact button:hover {
    background-color: #555;
}
