{% if page.locations %}
<section class="map-section">
  <div class="row text-center">
    <div class="col-md-8 col-md-offset-2">
      <h2>Current Location</h2>
    </div>
  </div>
	<div class="row">
		<div class="col-xs-12 visible-xs">
			<img class="img-responsive" src="http://maps.googleapis.com/maps/api/staticmap?{% for location in page.locations %}{% if forloop.first %}center={{location}}&markers=color:blue%7C{{location}}{% else %}&markers=color:blue%7C{{location}}{% endif %}{% endfor %}&zoom={% if page.zoom %}{{page.zoom}}{% else %}13{% endif %}&size=600x400&scale=2&sensor=false&visual_refresh=true" alt="">
		</div>
		<div class="col-sm-12 hidden-xs">
			<img class="img-responsive" src="http://maps.googleapis.com/maps/api/staticmap?{% for location in page.locations %}{% if forloop.first %}center={{location}}&markers=color:blue%7C{{location}}{% else %}&markers=color:blue%7C{{location}}{% endif %}{% endfor %}&zoom={% if page.zoom %}{{page.zoom}}{% else %}13{% endif %}&size=800x200&scale=2&sensor=false&visual_refresh=true" alt="">
		</div>
	</div>
</section>
{% endif %}
