<section class='container' id="services">
  <h2 class="text-center">Services</h2>
  {% for service in site.services %}
    {% cycle 'add row' : '<div class="row">', nil, nil %}
      <div class="col-sm-6 col-xs-12">
        <div class="panel panel-default panel-secondary">
          <div class="panel-heading">
            <div class="row">
              <div class=col-xs-2>
                <i class="fa {{ service.icon }} fa-3x fa-fw"></i>
              </div>
              <div class="col-xs-8 text-center">
                <h3>{{ service.title }}</h3>
              </div>
              <div class=col-xs-2></div>
            </div>
          </div>
          <div class="panel-body">
            {{ service.content }}
          </div>
        </div>
      </div>
    {% cycle 'end row' : nil, nil, '</div>' %}
  {% endfor %}
</section>
